body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.present1 {
  width: 55px;
  height: 55px;
  position: relative;
  background: #61b872;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present1:hover {
  left: 3px;
  bottom: 3px;
  background: #61b872;
}

.present1 .wRibbon, .present1 .hRibbon {
  background-color: #f8f8f8;
}

.present1 .wRibbon {
  width: 15%;
  height: 100%;
}

.present1 .hRibbon {
  width: 100%;
  height: 15%;
}

.present1 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #61b872;
}

.present2 {
  width: 78px;
  height: 78px;
  position: relative;
  background: #d07f47;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present2:hover {
  left: 3px;
  bottom: 3px;
  background: #34a5e2;
}

.present2 .wRibbon, .present2 .hRibbon {
  background-color: #f8f8f8;
}

.present2 .wRibbon {
  width: 15%;
  height: 100%;
}

.present2 .hRibbon {
  width: 100%;
  height: 15%;
}

.present2 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #d07f47;
}

.present3 {
  width: 58px;
  height: 58px;
  position: relative;
  background: #d07f47;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present3:hover {
  left: 3px;
  bottom: 3px;
  background: #61b872;
}

.present3 .wRibbon, .present3 .hRibbon {
  background-color: #f8f8f8;
}

.present3 .wRibbon {
  width: 15%;
  height: 100%;
}

.present3 .hRibbon {
  width: 100%;
  height: 15%;
}

.present3 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #d07f47;
}

.present4 {
  width: 53px;
  height: 53px;
  position: relative;
  background: #ffd428;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present4:hover {
  left: 3px;
  bottom: 3px;
  background: #34a5e2;
}

.present4 .wRibbon, .present4 .hRibbon {
  background-color: #f8f8f8;
}

.present4 .wRibbon {
  width: 15%;
  height: 100%;
}

.present4 .hRibbon {
  width: 100%;
  height: 15%;
}

.present4 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #ffd428;
}

.present5 {
  width: 79px;
  height: 79px;
  position: relative;
  background: #ffd428;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present5:hover {
  left: 3px;
  bottom: 3px;
  background: #fc5f5f;
}

.present5 .wRibbon, .present5 .hRibbon {
  background-color: #f8f8f8;
}

.present5 .wRibbon {
  width: 15%;
  height: 100%;
}

.present5 .hRibbon {
  width: 100%;
  height: 15%;
}

.present5 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #ffd428;
}

.present6 {
  width: 87px;
  height: 87px;
  position: relative;
  background: #34a5e2;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present6:hover {
  left: 3px;
  bottom: 3px;
  background: #61b872;
}

.present6 .wRibbon, .present6 .hRibbon {
  background-color: #f8f8f8;
}

.present6 .wRibbon {
  width: 15%;
  height: 100%;
}

.present6 .hRibbon {
  width: 100%;
  height: 15%;
}

.present6 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #34a5e2;
}

.present7 {
  width: 69px;
  height: 69px;
  position: relative;
  background: #ffd428;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present7:hover {
  left: 3px;
  bottom: 3px;
  background: #fc5f5f;
}

.present7 .wRibbon, .present7 .hRibbon {
  background-color: #f8f8f8;
}

.present7 .wRibbon {
  width: 15%;
  height: 100%;
}

.present7 .hRibbon {
  width: 100%;
  height: 15%;
}

.present7 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #ffd428;
}

.present8 {
  width: 84px;
  height: 84px;
  position: relative;
  background: #fc5f5f;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present8:hover {
  left: 3px;
  bottom: 3px;
  background: #d07f47;
}

.present8 .wRibbon, .present8 .hRibbon {
  background-color: #f8f8f8;
}

.present8 .wRibbon {
  width: 15%;
  height: 100%;
}

.present8 .hRibbon {
  width: 100%;
  height: 15%;
}

.present8 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #fc5f5f;
}

.present9 {
  width: 60px;
  height: 60px;
  position: relative;
  background: #ffd428;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present9:hover {
  left: 3px;
  bottom: 3px;
  background: #34a5e2;
}

.present9 .wRibbon, .present9 .hRibbon {
  background-color: #f8f8f8;
}

.present9 .wRibbon {
  width: 15%;
  height: 100%;
}

.present9 .hRibbon {
  width: 100%;
  height: 15%;
}

.present9 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #ffd428;
}

.present10 {
  width: 55px;
  height: 55px;
  position: relative;
  background: #ffd428;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present10:hover {
  left: 3px;
  bottom: 3px;
  background: #61b872;
}

.present10 .wRibbon, .present10 .hRibbon {
  background-color: #f8f8f8;
}

.present10 .wRibbon {
  width: 15%;
  height: 100%;
}

.present10 .hRibbon {
  width: 100%;
  height: 15%;
}

.present10 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #ffd428;
}

.present11 {
  width: 65px;
  height: 65px;
  position: relative;
  background: #61b872;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present11:hover {
  left: 3px;
  bottom: 3px;
  background: #ffd428;
}

.present11 .wRibbon, .present11 .hRibbon {
  background-color: #f8f8f8;
}

.present11 .wRibbon {
  width: 15%;
  height: 100%;
}

.present11 .hRibbon {
  width: 100%;
  height: 15%;
}

.present11 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #61b872;
}

.present12 {
  width: 62px;
  height: 62px;
  position: relative;
  background: #fc5f5f;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present12:hover {
  left: 3px;
  bottom: 3px;
  background: #61b872;
}

.present12 .wRibbon, .present12 .hRibbon {
  background-color: #f8f8f8;
}

.present12 .wRibbon {
  width: 15%;
  height: 100%;
}

.present12 .hRibbon {
  width: 100%;
  height: 15%;
}

.present12 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #fc5f5f;
}

.present13 {
  width: 55px;
  height: 55px;
  position: relative;
  background: #61b872;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present13:hover {
  left: 3px;
  bottom: 3px;
  background: #ffd428;
}

.present13 .wRibbon, .present13 .hRibbon {
  background-color: #f8f8f8;
}

.present13 .wRibbon {
  width: 15%;
  height: 100%;
}

.present13 .hRibbon {
  width: 100%;
  height: 15%;
}

.present13 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #61b872;
}

.present14 {
  width: 98px;
  height: 98px;
  position: relative;
  background: #61b872;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present14:hover {
  left: 3px;
  bottom: 3px;
  background: #ffd428;
}

.present14 .wRibbon, .present14 .hRibbon {
  background-color: #f8f8f8;
}

.present14 .wRibbon {
  width: 15%;
  height: 100%;
}

.present14 .hRibbon {
  width: 100%;
  height: 15%;
}

.present14 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #61b872;
}

.present15 {
  width: 85px;
  height: 85px;
  position: relative;
  background: #fc5f5f;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present15:hover {
  left: 3px;
  bottom: 3px;
  background: #d07f47;
}

.present15 .wRibbon, .present15 .hRibbon {
  background-color: #f8f8f8;
}

.present15 .wRibbon {
  width: 15%;
  height: 100%;
}

.present15 .hRibbon {
  width: 100%;
  height: 15%;
}

.present15 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #fc5f5f;
}

.present16 {
  width: 64px;
  height: 64px;
  position: relative;
  background: #fc5f5f;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present16:hover {
  left: 3px;
  bottom: 3px;
  background: #34a5e2;
}

.present16 .wRibbon, .present16 .hRibbon {
  background-color: #f8f8f8;
}

.present16 .wRibbon {
  width: 15%;
  height: 100%;
}

.present16 .hRibbon {
  width: 100%;
  height: 15%;
}

.present16 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #fc5f5f;
}

.present17 {
  width: 83px;
  height: 83px;
  position: relative;
  background: #ffd428;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present17:hover {
  left: 3px;
  bottom: 3px;
  background: #ffd428;
}

.present17 .wRibbon, .present17 .hRibbon {
  background-color: #f8f8f8;
}

.present17 .wRibbon {
  width: 15%;
  height: 100%;
}

.present17 .hRibbon {
  width: 100%;
  height: 15%;
}

.present17 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #ffd428;
}

.present18 {
  width: 77px;
  height: 77px;
  position: relative;
  background: #34a5e2;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present18:hover {
  left: 3px;
  bottom: 3px;
  background: #61b872;
}

.present18 .wRibbon, .present18 .hRibbon {
  background-color: #f8f8f8;
}

.present18 .wRibbon {
  width: 15%;
  height: 100%;
}

.present18 .hRibbon {
  width: 100%;
  height: 15%;
}

.present18 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #34a5e2;
}

.present19 {
  width: 100px;
  height: 100px;
  position: relative;
  background: #fc5f5f;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present19:hover {
  left: 3px;
  bottom: 3px;
  background: #fc5f5f;
}

.present19 .wRibbon, .present19 .hRibbon {
  background-color: #f8f8f8;
}

.present19 .wRibbon {
  width: 15%;
  height: 100%;
}

.present19 .hRibbon {
  width: 100%;
  height: 15%;
}

.present19 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #fc5f5f;
}

.present20 {
  width: 61px;
  height: 61px;
  position: relative;
  background: #61b872;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present20:hover {
  left: 3px;
  bottom: 3px;
  background: #fc5f5f;
}

.present20 .wRibbon, .present20 .hRibbon {
  background-color: #f8f8f8;
}

.present20 .wRibbon {
  width: 15%;
  height: 100%;
}

.present20 .hRibbon {
  width: 100%;
  height: 15%;
}

.present20 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #61b872;
}

.present21 {
  width: 82px;
  height: 82px;
  position: relative;
  background: #fc5f5f;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present21:hover {
  left: 3px;
  bottom: 3px;
  background: #ffd428;
}

.present21 .wRibbon, .present21 .hRibbon {
  background-color: #f8f8f8;
}

.present21 .wRibbon {
  width: 15%;
  height: 100%;
}

.present21 .hRibbon {
  width: 100%;
  height: 15%;
}

.present21 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #fc5f5f;
}

.present22 {
  width: 70px;
  height: 70px;
  position: relative;
  background: #d07f47;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(9deg);
          transform: rotate(9deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present22:hover {
  left: 3px;
  bottom: 3px;
  background: #61b872;
}

.present22 .wRibbon, .present22 .hRibbon {
  background-color: #f8f8f8;
}

.present22 .wRibbon {
  width: 15%;
  height: 100%;
}

.present22 .hRibbon {
  width: 100%;
  height: 15%;
}

.present22 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #d07f47;
}

.present23 {
  width: 54px;
  height: 54px;
  position: relative;
  background: #34a5e2;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present23:hover {
  left: 3px;
  bottom: 3px;
  background: #fc5f5f;
}

.present23 .wRibbon, .present23 .hRibbon {
  background-color: #f8f8f8;
}

.present23 .wRibbon {
  width: 15%;
  height: 100%;
}

.present23 .hRibbon {
  width: 100%;
  height: 15%;
}

.present23 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #34a5e2;
}

.present24 {
  width: 97px;
  height: 97px;
  position: relative;
  background: #fc5f5f;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present24:hover {
  left: 3px;
  bottom: 3px;
  background: #d07f47;
}

.present24 .wRibbon, .present24 .hRibbon {
  background-color: #f8f8f8;
}

.present24 .wRibbon {
  width: 15%;
  height: 100%;
}

.present24 .hRibbon {
  width: 100%;
  height: 15%;
}

.present24 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #fc5f5f;
}

.present25 {
  width: 74px;
  height: 74px;
  position: relative;
  background: #61b872;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present25:hover {
  left: 3px;
  bottom: 3px;
  background: #ffd428;
}

.present25 .wRibbon, .present25 .hRibbon {
  background-color: #f8f8f8;
}

.present25 .wRibbon {
  width: 15%;
  height: 100%;
}

.present25 .hRibbon {
  width: 100%;
  height: 15%;
}

.present25 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #61b872;
}

.present26 {
  width: 76px;
  height: 76px;
  position: relative;
  background: #34a5e2;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present26:hover {
  left: 3px;
  bottom: 3px;
  background: #ffd428;
}

.present26 .wRibbon, .present26 .hRibbon {
  background-color: #f8f8f8;
}

.present26 .wRibbon {
  width: 15%;
  height: 100%;
}

.present26 .hRibbon {
  width: 100%;
  height: 15%;
}

.present26 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #34a5e2;
}

.present27 {
  width: 94px;
  height: 94px;
  position: relative;
  background: #d07f47;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present27:hover {
  left: 3px;
  bottom: 3px;
  background: #34a5e2;
}

.present27 .wRibbon, .present27 .hRibbon {
  background-color: #f8f8f8;
}

.present27 .wRibbon {
  width: 15%;
  height: 100%;
}

.present27 .hRibbon {
  width: 100%;
  height: 15%;
}

.present27 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #d07f47;
}

.present28 {
  width: 70px;
  height: 70px;
  position: relative;
  background: #34a5e2;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present28:hover {
  left: 3px;
  bottom: 3px;
  background: #34a5e2;
}

.present28 .wRibbon, .present28 .hRibbon {
  background-color: #f8f8f8;
}

.present28 .wRibbon {
  width: 15%;
  height: 100%;
}

.present28 .hRibbon {
  width: 100%;
  height: 15%;
}

.present28 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #34a5e2;
}

.present29 {
  width: 61px;
  height: 61px;
  position: relative;
  background: #ffd428;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present29:hover {
  left: 3px;
  bottom: 3px;
  background: #ffd428;
}

.present29 .wRibbon, .present29 .hRibbon {
  background-color: #f8f8f8;
}

.present29 .wRibbon {
  width: 15%;
  height: 100%;
}

.present29 .hRibbon {
  width: 100%;
  height: 15%;
}

.present29 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #ffd428;
}

.present30 {
  width: 84px;
  height: 84px;
  position: relative;
  background: #d07f47;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present30:hover {
  left: 3px;
  bottom: 3px;
  background: #61b872;
}

.present30 .wRibbon, .present30 .hRibbon {
  background-color: #f8f8f8;
}

.present30 .wRibbon {
  width: 15%;
  height: 100%;
}

.present30 .hRibbon {
  width: 100%;
  height: 15%;
}

.present30 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #d07f47;
}

.present31 {
  width: 59px;
  height: 59px;
  position: relative;
  background: #d07f47;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present31:hover {
  left: 3px;
  bottom: 3px;
  background: #34a5e2;
}

.present31 .wRibbon, .present31 .hRibbon {
  background-color: #f8f8f8;
}

.present31 .wRibbon {
  width: 15%;
  height: 100%;
}

.present31 .hRibbon {
  width: 100%;
  height: 15%;
}

.present31 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #d07f47;
}

.present32 {
  width: 88px;
  height: 88px;
  position: relative;
  background: #fc5f5f;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present32:hover {
  left: 3px;
  bottom: 3px;
  background: #34a5e2;
}

.present32 .wRibbon, .present32 .hRibbon {
  background-color: #f8f8f8;
}

.present32 .wRibbon {
  width: 15%;
  height: 100%;
}

.present32 .hRibbon {
  width: 100%;
  height: 15%;
}

.present32 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #fc5f5f;
}

.present33 {
  width: 82px;
  height: 82px;
  position: relative;
  background: #61b872;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present33:hover {
  left: 3px;
  bottom: 3px;
  background: #d07f47;
}

.present33 .wRibbon, .present33 .hRibbon {
  background-color: #f8f8f8;
}

.present33 .wRibbon {
  width: 15%;
  height: 100%;
}

.present33 .hRibbon {
  width: 100%;
  height: 15%;
}

.present33 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #61b872;
}

.present34 {
  width: 96px;
  height: 96px;
  position: relative;
  background: #61b872;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present34:hover {
  left: 3px;
  bottom: 3px;
  background: #fc5f5f;
}

.present34 .wRibbon, .present34 .hRibbon {
  background-color: #f8f8f8;
}

.present34 .wRibbon {
  width: 15%;
  height: 100%;
}

.present34 .hRibbon {
  width: 100%;
  height: 15%;
}

.present34 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #61b872;
}

.present35 {
  width: 82px;
  height: 82px;
  position: relative;
  background: #ffd428;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present35:hover {
  left: 3px;
  bottom: 3px;
  background: #34a5e2;
}

.present35 .wRibbon, .present35 .hRibbon {
  background-color: #f8f8f8;
}

.present35 .wRibbon {
  width: 15%;
  height: 100%;
}

.present35 .hRibbon {
  width: 100%;
  height: 15%;
}

.present35 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #ffd428;
}

.present36 {
  width: 51px;
  height: 51px;
  position: relative;
  background: #61b872;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present36:hover {
  left: 3px;
  bottom: 3px;
  background: #ffd428;
}

.present36 .wRibbon, .present36 .hRibbon {
  background-color: #f8f8f8;
}

.present36 .wRibbon {
  width: 15%;
  height: 100%;
}

.present36 .hRibbon {
  width: 100%;
  height: 15%;
}

.present36 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #61b872;
}

.present37 {
  width: 66px;
  height: 66px;
  position: relative;
  background: #34a5e2;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present37:hover {
  left: 3px;
  bottom: 3px;
  background: #ffd428;
}

.present37 .wRibbon, .present37 .hRibbon {
  background-color: #f8f8f8;
}

.present37 .wRibbon {
  width: 15%;
  height: 100%;
}

.present37 .hRibbon {
  width: 100%;
  height: 15%;
}

.present37 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #34a5e2;
}

.present38 {
  width: 68px;
  height: 68px;
  position: relative;
  background: #fc5f5f;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present38:hover {
  left: 3px;
  bottom: 3px;
  background: #61b872;
}

.present38 .wRibbon, .present38 .hRibbon {
  background-color: #f8f8f8;
}

.present38 .wRibbon {
  width: 15%;
  height: 100%;
}

.present38 .hRibbon {
  width: 100%;
  height: 15%;
}

.present38 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #fc5f5f;
}

.present39 {
  width: 100px;
  height: 100px;
  position: relative;
  background: #fc5f5f;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present39:hover {
  left: 3px;
  bottom: 3px;
  background: #34a5e2;
}

.present39 .wRibbon, .present39 .hRibbon {
  background-color: #f8f8f8;
}

.present39 .wRibbon {
  width: 15%;
  height: 100%;
}

.present39 .hRibbon {
  width: 100%;
  height: 15%;
}

.present39 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #fc5f5f;
}

.present40 {
  width: 55px;
  height: 55px;
  position: relative;
  background: #34a5e2;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present40:hover {
  left: 3px;
  bottom: 3px;
  background: #d07f47;
}

.present40 .wRibbon, .present40 .hRibbon {
  background-color: #f8f8f8;
}

.present40 .wRibbon {
  width: 15%;
  height: 100%;
}

.present40 .hRibbon {
  width: 100%;
  height: 15%;
}

.present40 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #34a5e2;
}

.present41 {
  width: 73px;
  height: 73px;
  position: relative;
  background: #61b872;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present41:hover {
  left: 3px;
  bottom: 3px;
  background: #34a5e2;
}

.present41 .wRibbon, .present41 .hRibbon {
  background-color: #f8f8f8;
}

.present41 .wRibbon {
  width: 15%;
  height: 100%;
}

.present41 .hRibbon {
  width: 100%;
  height: 15%;
}

.present41 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #61b872;
}

.present42 {
  width: 62px;
  height: 62px;
  position: relative;
  background: #fc5f5f;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present42:hover {
  left: 3px;
  bottom: 3px;
  background: #d07f47;
}

.present42 .wRibbon, .present42 .hRibbon {
  background-color: #f8f8f8;
}

.present42 .wRibbon {
  width: 15%;
  height: 100%;
}

.present42 .hRibbon {
  width: 100%;
  height: 15%;
}

.present42 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #fc5f5f;
}

.present43 {
  width: 56px;
  height: 56px;
  position: relative;
  background: #d07f47;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present43:hover {
  left: 3px;
  bottom: 3px;
  background: #fc5f5f;
}

.present43 .wRibbon, .present43 .hRibbon {
  background-color: #f8f8f8;
}

.present43 .wRibbon {
  width: 15%;
  height: 100%;
}

.present43 .hRibbon {
  width: 100%;
  height: 15%;
}

.present43 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #d07f47;
}

.present44 {
  width: 77px;
  height: 77px;
  position: relative;
  background: #fc5f5f;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present44:hover {
  left: 3px;
  bottom: 3px;
  background: #fc5f5f;
}

.present44 .wRibbon, .present44 .hRibbon {
  background-color: #f8f8f8;
}

.present44 .wRibbon {
  width: 15%;
  height: 100%;
}

.present44 .hRibbon {
  width: 100%;
  height: 15%;
}

.present44 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #fc5f5f;
}

.present45 {
  width: 85px;
  height: 85px;
  position: relative;
  background: #fc5f5f;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present45:hover {
  left: 3px;
  bottom: 3px;
  background: #61b872;
}

.present45 .wRibbon, .present45 .hRibbon {
  background-color: #f8f8f8;
}

.present45 .wRibbon {
  width: 15%;
  height: 100%;
}

.present45 .hRibbon {
  width: 100%;
  height: 15%;
}

.present45 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #fc5f5f;
}

.present46 {
  width: 77px;
  height: 77px;
  position: relative;
  background: #ffd428;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present46:hover {
  left: 3px;
  bottom: 3px;
  background: #ffd428;
}

.present46 .wRibbon, .present46 .hRibbon {
  background-color: #f8f8f8;
}

.present46 .wRibbon {
  width: 15%;
  height: 100%;
}

.present46 .hRibbon {
  width: 100%;
  height: 15%;
}

.present46 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #ffd428;
}

.present47 {
  width: 69px;
  height: 69px;
  position: relative;
  background: #ffd428;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present47:hover {
  left: 3px;
  bottom: 3px;
  background: #ffd428;
}

.present47 .wRibbon, .present47 .hRibbon {
  background-color: #f8f8f8;
}

.present47 .wRibbon {
  width: 15%;
  height: 100%;
}

.present47 .hRibbon {
  width: 100%;
  height: 15%;
}

.present47 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #ffd428;
}

.present48 {
  width: 80px;
  height: 80px;
  position: relative;
  background: #fc5f5f;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present48:hover {
  left: 3px;
  bottom: 3px;
  background: #d07f47;
}

.present48 .wRibbon, .present48 .hRibbon {
  background-color: #f8f8f8;
}

.present48 .wRibbon {
  width: 15%;
  height: 100%;
}

.present48 .hRibbon {
  width: 100%;
  height: 15%;
}

.present48 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #fc5f5f;
}

.present49 {
  width: 91px;
  height: 91px;
  position: relative;
  background: #ffd428;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  margin: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.present49:hover {
  left: 3px;
  bottom: 3px;
  background: #ffd428;
}

.present49 .wRibbon, .present49 .hRibbon {
  background-color: #f8f8f8;
}

.present49 .wRibbon {
  width: 15%;
  height: 100%;
}

.present49 .hRibbon {
  width: 100%;
  height: 15%;
}

.present49 .cover {
  width: calc(100% + 10px);
  height: 15%;
  background-color: #ffd428;
}

.wRibbon {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hRibbon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cover {
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=2-11.css.map */